.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.formField{
    margin: 20px;
    width: 400px;
}

.sendButton {
    margin-top: 20px;
    
}